.container-modify{
  width: 94%;
  margin: auto;
}
 
 
 ul li a.active {
  border-bottom: 2px solid blue;
  color: blueviolet;
  padding: 5px;
}
.main-logo{
  font-size: 20px;
  color: rgb(255, 255, 255);

}
.short-logo{
  color: blueviolet;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
}
.blog-tital{
  color: rgb(255, 255, 255);
  font-size: 40px;
  border-bottom: 4px solid blueviolet;
  padding: 5px 10px;
  margin-bottom: 40px;
}